<%= form_for(@cuentas_corrientes_ventum) do |f| %>
  <% if @cuentas_corrientes_ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuentas_corrientes_ventum.errors.count, "error") %> prohibited this cuentas_corrientes_ventum from being saved:</h2>

      <ul>
      <% @cuentas_corrientes_ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
  <div class="field">
    <%= f.label :id_persona %><br>
    <%= f.number_field :id_persona, :class => 'form-control' %>
  </div>
</div>
<div class="col-md-3">
  <div class="field">
    <%= f.label :id_caja %><br>
    <%= f.number_field :id_caja, :class => 'form-control' %>
  </div>
</div>
<div class="col-md-3">
  <div class="field">
    <%= f.label :id_movimiento_de_caja %><br>
    <%= f.number_field :id_movimiento_de_caja, :class => 'form-control' %>
  </div>
</div>
<div class="col-md-3">
  <div class="field">
     <i class="glyphicon glyphicon-usd"></i> <%= f.label :monto %><br>
    <%= f.text_field :monto, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' } %>
  </div>
</div>
</div>
<br>
  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
<br>