<%= form_for(@cuentas_corrientes_ventum) do |f| %>
  <% if @cuentas_corrientes_ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuentas_corrientes_ventum.errors.count, "error") %> prohibited this cuentas_corrientes_ventum from being saved:</h2>

      <ul>
      <% @cuentas_corrientes_ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
    <div class="field">
      <label for="cuentas_corrientes_ventum_id_persona">Persona  
          <%= link_to "#modal-persona", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
      </label>
      </br>
      <%= f.collection_select :id_persona, Persona.all,:id, :name_with_initial, {:selected => Persona.find(1)}, {class: "form-control"}%>
    </div>
</div>
<div class="col-md-3">
  <div class="field">
    <label for="cuentas_corrientes_ventum_id_caja">Caja  </label>
    </br>
    <%= f.collection_select :id_caja, Caja.all,:id, :name_with_initial, {prompt: "Seleccione una Caja"}, {class: "form-control"}%>
  </div>
</div>
<div class="col-md-3">
  <div class="field">
    <label for="cuentas_corrientes_ventum_id_movimiento_de_caja"> Movimiento de Caja  
        <%= link_to "#modal-movimientoDeCaja", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
    </label>
    </br>
    <%= f.collection_select :id_movimiento_de_caja, MovimientosDeCaja.all,:id, :name_with_initial, {prompt: "Seleccione el Movimiento"}, {class: "form-control"}%>
  </div>
</div>
<div class="col-md-3">
  <div class="field">
     <i class="glyphicon glyphicon-usd"></i> <%= f.label :monto %><br>
    <%= f.text_field :monto, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0 %>
  </div>
</div>
</div>
<br>
  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
<br>
<%= render 'cuentas_corrientes_venta/modals/persona' %>
<%= render 'cuentas_corrientes_venta/modals/movimientoDeCaja' %>