<%= form_for(@detalles_boleta_de_deposito) do |f| %>
  <% if @detalles_boleta_de_deposito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalles_boleta_de_deposito.errors.count, "errores") %> prohiben que este detalle de boleta de deposito sea guardado:</h2>

      <ul>
      <% @detalles_boleta_de_deposito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_boleta_de_deposito %><br>
    <%= f.number_field :id_boleta_de_deposito %>
  </div>
  <div class="field">
    <%= f.label :efectivo %><br>
    <%= f.text_field :efectivo %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.number_field :item %>
  </div>
  <div class="field">
    <%= f.label :id_cheque_entrante %><br>
    <%= f.number_field :id_cheque_entrante %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
