<%= form_for(@boletas_de_deposito) do |f| %>
  <% if @boletas_de_deposito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boletas_de_deposito.errors.count, "error") %> no se guardo en boletas de deposito por lo siguiente:</h2>

      <ul>
      <% @boletas_de_deposito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
      <div class="field">
        <label for="boletas_de_deposito_id_banco">Banco  
            <%= link_to "#modal-banco", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_banco, Banco.all,:id, :name_with_initial, {:selected => Banco.find(1)}, {class: "form-control"}%>
      </div>
      <div class="field">
        <label for="boletas_de_deposito_id_persona">Persona  
            <%= link_to "#modal-persona", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_persona, Persona.all,:id, :name_with_initial, {:selected => Persona.find(1)}, {class: "form-control"}%>
      </div>
  </div>
   <div class="col-md-offset-1 col-md-3">
      <div class="field">
        <label for="boletas_de_deposito_id_cuenta_bancaria">Cuenta Bancaria  
            <%= link_to "#modal-cuentaBancaria", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_cuenta_bancaria, CuentasBancarium.all,:id, :name_with_initial, {:selected => CuentasBancarium.find(1)}, {class: "form-control"}%>
      </div>
      <div class="field">
        <label for="boletas_de_deposito_id_caja">Caja</label><br>
        <%= f.collection_select :id_caja, Caja.all,:id, :name_with_initial, {prompt: "Seleccione una Caja"}, {class: "form-control"}%>
      </div>
  </div>
   <div class="col-md-offset-1 col-md-3">
      <div class="field">
        <i class="glyphicon glyphicon-calendar"></i> <%= f.label :fecha %><br>
        <%= f.text_field :fecha, :class => 'datepicker form-control' %>
      </div>
  </div>
</div>

  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
  <% end %>

<%= render 'boletas_de_depositos/modals/persona' %>
<%= render 'boletas_de_depositos/modals/cuentaBancaria' %>
<%= render 'boletas_de_depositos/modals/banco' %>
