<%= form_for(@banco) do |f| %>
  <% if @banco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banco.errors.count, "error") %> prohibited this banco from being saved:</h2>

      <ul>
      <% @banco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="field">
    <%= f.label :nombre_banco %><br>
    <%= f.text_field :nombre_banco, :class => 'form-control' %> <br>
  </div>
  </div>
  </div>
  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
