<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre banco:</strong>
  <%= @banco.nombre_banco %>
</p>

<%= link_to 'Imprimir', banco_path(@banco, format: 'pdf') %>
<%= link_to 'Editar', edit_banco_path(@banco) %> |
<%= link_to 'Atras', bancos_path %>
