<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipos_de_movimiento.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @tipos_de_movimiento.tipo %>
</p>

<%= link_to 'Editar', edit_tipos_de_movimiento_path(@tipos_de_movimiento) %> |
<%= link_to 'Atras', tipos_de_movimientos_path %>
