<%= form_for(@movimientos_de_banco) do |f| %>
  <% if @movimientos_de_banco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimientos_de_banco.errors.count, "error") %> prohibited this movimientos_de_banco from being saved:</h2>

      <ul>
      <% @movimientos_de_banco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
    <div class="field">
      <label for="movimientos_de_banco_">Tipo de Movimiento  
        <%= link_to "#modal-persona", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </label></br>
        <%= f.collection_select  :id_tipo_de_movimiento, TiposDeMovimiento.all,:id, :name_with_initial,  {prompt: "Seleccione un tipo"}, {class: "form-control"} %>

      <label for="id_banco">Banco
        <%= link_to "#modal-banco", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </label></br>
        <%= f.collection_select  :id_banco, Banco.all,:id, :name_with_initial, {:selected => Banco.find(1)}, {class: "form-control"} %>

        <label for="caja_id_persona">Cuenta Bancaria
          <%= link_to "#modal-cuentaBancaria", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </label></br>
        <%= f.collection_select  :id_cuenta_bancaria, CuentasBancarium.all,:id, :name_with_initial,  {:selected => CuentasBancarium.find(1)}, {class: "form-control"} %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="field">
      <i class="glyphicon glyphicon-usd"></i> <%= f.label :monto %><br>
        <%= f.text_field :monto, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0 %>
    </div>
    <div class="field">
      <%= f.label :descripcion %><br>
      <%= f.text_field :descripcion, :class => 'form-control' %>
    </div>
  </div>
</div>
  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
</br>

<%= render 'movimientos_de_bancos/modals/persona' %>
<%= render 'movimientos_de_bancos/modals/cuentaBancaria' %>
<%= render 'movimientos_de_bancos/modals/tipoDeMovimiento' %>