<%= form_for(@cheques_entrante) do |f| %>
  <% if @cheques_entrante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cheques_entrante.errors.count, "error") %> prohibited this cheques_entrante from being saved:</h2>

      <ul>
      <% @cheques_entrante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <label for="cheques_entrante_id_banco">Banco  
            <%= link_to "#modal-banco", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_banco, Banco.all,:id, :name_with_initial, {:selected => Banco.find(1)}, {class: "form-control"}%>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :numero %><br>
        <%= f.number_field :numero, :class => 'form-control'%>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
         <i class="glyphicon glyphicon-usd"></i> <%= f.label :monto %><br>
        <%= f.text_field :monto, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0 %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :concepto %><br>
        <%= f.text_field :concepto , :class => 'form-control'%>
      </div>
    </div>
  </div>
  <br>
  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
<br>
<%= render 'cheques_entrantes/modals/banco' %>