<%= form_for(@tipos_de_estado) do |f| %>
  <% if @tipos_de_estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipos_de_estado.errors.count, "errores") %> prohiben que este tipo de estado sea guardado:</h2>

      <ul>
      <% @tipos_de_estado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, :class => 'form-control' %>
  </div>
  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
<% end %> <br>
