<%= form_for(@movimientos_de_caja) do |f| %>
  <% if @movimientos_de_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimientos_de_caja.errors.count, "error") %> prohibited this movimientos_de_caja from being saved:</h2>

      <ul>
      <% @movimientos_de_caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
      <div class="field">
        <label for="movimientos_de_caja_id_tipo_de_movimiento">Tipo de Movimiento
            <%= link_to "#modal-tipoDeMovimiento", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_tipo_de_movimiento, TiposDeMovimiento.all,:id, :name_with_initial, {prompt: "Seleccione un tipo"}, {class: "form-control"}%>
      </div>
      <div class="field">
        <label for="movimientos_de_caja_id_cuenta_bancaria">Caja</label><br>
        <%= f.collection_select :id_caja, Caja.all,:id, :name_with_initial, {prompt: "Seleccione una Caja"}, {class: "form-control"}%>
      </div>
  </div>
  <div class="col-md-3">
      <div class="field">
        <label for="movimientos_de_caja_id_cheque_entrante">Cheques de Terceros
            <%= link_to "#modal-chequeEntrante", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_cheque_entrante, ChequesEntrante.all,:id, :name_with_initial, {:selected => ChequesEntrante.find(1)}, {class: "form-control"}%>
      </div>
      <div class="field">
        <label for="movimientos_de_caja_id_cheque_emitido">Cheque Emitido
            <%= link_to "#modal-chequeEmitido", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_cheque_emitido, ChequesEmitido.all,:id, :name_with_initial, {:selected => ChequesEmitido.find(1)}, {class: "form-control"}%>
      </div>
  </div>
  <div class="col-md-3">
      <div class="field">
        <%= f.label :descripcion %><br>
        <%= f.text_field :descripcion, :class => 'form-control' %>
      </div>
  <div class="field">
     <i class="glyphicon glyphicon-usd"></i> <%= f.label :monto_efectivo %><br>
    <%= f.text_field :monto_efectivo, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0 %>
  </div>
  </div>
  <div class="col-md-3">
    <div class="field">
       <i class="glyphicon glyphicon-usd"></i> <%= f.label :monto_cheque %><br>
      <%= f.text_field :monto_cheque, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0 %>
    </div>
  </div>
</div>
</br>

  <div class="actions">
    <% if controller.action_name == 'new' or controller.action_name == 'index' %>
      <%= f.submit "Agregar", :class => 'btn btn-primary'%>
    <% elsif controller.action_name == 'edit' %>
      <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
    <% end %>
  </div>
    <% end %>
</br>