<h1>Listing movimientos_de_cajas</h1>

<table>
  <thead>
    <tr>
      <th>Id tipo de movimiento</th>
      <th>Id caja</th>
      <th>Id cheque entrante</th>
      <th>Id cheque emitido</th>
      <th>Descripcion</th>
      <th>Monto efectivo</th>
      <th>Monto cheque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos_de_cajas.each do |movimientos_de_caja| %>
      <tr>
        <td><%= movimientos_de_caja.id_tipo_de_movimiento %></td>
        <td><%= movimientos_de_caja.id_caja %></td>
        <td><%= movimientos_de_caja.id_cheque_entrante %></td>
        <td><%= movimientos_de_caja.id_cheque_emitido %></td>
        <td><%= movimientos_de_caja.descripcion %></td>
        <td><%= movimientos_de_caja.monto_efectivo %></td>
        <td><%= movimientos_de_caja.monto_cheque %></td>
        <td><%= link_to 'Show', movimientos_de_caja %></td>
        <td><%= link_to 'Edit', edit_movimientos_de_caja_path(movimientos_de_caja) %></td>
        <td><%= link_to 'Destroy', movimientos_de_caja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimientos de caja', new_movimientos_de_caja_path %>
