<h1> Movimientos de Cajas <button type="button" class="btn btn-info btn-outline btn-circle" id="btn1"><span class="glyphicon glyphicon-chevron-up" id="gbtn1"></span></button></h1>
<div id="form1">
  <%= render 'form' %>
</div>
<table id="table">
  <thead>
    <tr>
      <th>Id tipo de movimiento</th>
      <th>Id caja</th>
      <th>Id cheque entrante</th>
      <th>Id cheque emitido</th>
      <th>Descripcion</th>
      <th>Monto efectivo</th>
      <th>Monto cheque</th>
      <th>Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos_de_cajas.each do |movimientos_de_caja| %>
      <tr>
        <td><%= movimientos_de_caja.id_tipo_de_movimiento %></td>
        <td><%= movimientos_de_caja.id_caja %></td>
        <td><%= movimientos_de_caja.id_cheque_entrante %></td>
        <td><%= movimientos_de_caja.id_cheque_emitido %></td>
        <td><%= movimientos_de_caja.descripcion %></td>
        <td><%= movimientos_de_caja.monto_efectivo %></td>
        <td><%= movimientos_de_caja.monto_cheque %></td>
        <td>
           <!--  <%= link_to movimientos_de_caja , class: 'btn btn-info btn-outline btn-circle', title: 'View', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
                <span class="glyphicon glyphicon-search"></span>
                <% end %> -->
            
            <%= link_to edit_movimientos_de_caja_path(movimientos_de_caja), class: 'btn btn-warning btn-outline btn-circle', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
            
            <%= link_to movimientos_de_caja, method: :delete, data: { confirm: 'Va eliminarlo, esta seguro?' }, class: 'btn btn-danger btn-outline btn-circle', title: 'Borrar', 'data-toggle' => 'tooltip', 'data-placement' => 'right'  do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>