<h1> Log de auditoria <h3 align="right"><%= link_to "PRINT", '#', onclick: "printpage()"%> | 
  <%= link_to 'PDF', log_audits_path(@log_audits, format: 'pdf') %> | 
  <%= link_to 'Excel Download', log_audits_path(:format => :xls) %></h3></h1> 
  

<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th>Tabla modificada</th>
      <th>Operacion</th>
      <th>Valor anterior</th>
      <th>Valor nuevo</th>
      <th>Nombre usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_audits.each do |log_audit| %>
      <tr>
        <td><%= log_audit.nombre_tabla %></td>
        <td><%= log_audit.operacion %></td>
        <td><%= log_audit.valor_anterior %></td>
        <td><%= log_audit.valor_nuevo %></td>
        <td><%= log_audit.nombre_usuario %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

