<%= form_for(@cheques_emitido) do |f| %>
  <% if @cheques_emitido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cheques_emitido.errors.count, "error") %> prohibited this cheques_emitido from being saved:</h2>

      <ul>
      <% @cheques_emitido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_cuenta_bancaria %><br>
    <%= f.number_field :id_cuenta_bancaria %>
  </div>
  <div class="field">
    <%= f.label :id_banco %><br>
    <%= f.number_field :id_banco %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :concepto %><br>
    <%= f.text_field :concepto %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
