<h1>Listing cheques_emitidos</h1>

<table>
  <thead>
    <tr>
      <th>Id cuenta bancaria</th>
      <th>Id banco</th>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheques_emitidos.each do |cheques_emitido| %>
      <tr>
        <td><%= cheques_emitido.id_cuenta_bancaria %></td>
        <td><%= cheques_emitido.id_banco %></td>
        <td><%= cheques_emitido.fecha %></td>
        <td><%= cheques_emitido.concepto %></td>
        <td><%= cheques_emitido.monto %></td>
        <td><%= link_to 'Show', cheques_emitido %></td>
        <td><%= link_to 'Edit', edit_cheques_emitido_path(cheques_emitido) %></td>
        <td><%= link_to 'Destroy', cheques_emitido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheques emitido', new_cheques_emitido_path %>
