<%= form_for(@caja) do |f| %>
  <% if @caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caja.errors.count, "error") %> prohibited this caja from being saved:</h2>

      <ul>
      <% @caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
      <div class="field">
        <%= f.label :id_estado %><br>
        <%= f.number_field :id_estado , :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label :id_persona %><br>
        <%= f.number_field :id_persona , :class => 'form-control'%>
      </div>
  </div>

  <div class="col-md-3">
      <div class="field">
        <i class="glyphicon glyphicon-calendar"></i> <%= f.label :apertura %><br>
        <%= f.text_field :apertura, :class => 'datepicker form-control' %>

      </div>
      <div class="field">
        <i class="glyphicon glyphicon-calendar"></i> <%= f.label :cierre %><br>
        <%= f.text_field :cierre, :class => 'datepicker form-control' %>
      </div>
  </div>

  <div class="col-md-3">
    <div class="field">
      <%= f.label :saldo_inicial_efectivo %><br>

      <%= f.text_field :saldo_inicial_efectivo, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :saldo_final_efectivo %><br>
      <%= f.text_field :saldo_final_efectivo, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="field">
      <%= f.label :saldo_inicial_cheque %><br>
      <%= f.text_field :saldo_inicial_cheque, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :saldo_final_cheque %><br>
      <%= f.text_field :saldo_final_cheque , :class => 'form-control'%>
    </div>
  </div>

</div>
 </br>
      <div class="actions">
        <%= f.submit 'Agregar', :class => 'btn btn-primary' %>
      </div>
  <% end %>
  </br>