<%= form_for(@caja) do |f| %>
  <% if @caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caja.errors.count, "error") %> no se guardo en caja por lo siguiente:</h2>

      <ul>
      <% @caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
      <div class="field">
        <label for="caja_id_estado">Estado  
            <%= link_to "#modal-estado", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_estado, TiposDeEstado.all,:id, :name_with_initial, {:selected => TiposDeEstado.find(1)}, {class: "form-control"}%>
      </div>
      <div class="field">
        <label for="caja_id_persona">Persona  
            <%= link_to "#modal-persona", "data-toggle" => "modal" , class: 'btn btn-warning btn-outline btn-circle' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </label>
        </br>
        <%= f.collection_select :id_persona, Persona.all,:id, :name_with_initial, {:selected => Persona.find(1)}, {class: "form-control"}%>
      </div>
  </div>

  <div class="col-md-3">
      <div class="field">
        <i class="glyphicon glyphicon-calendar"></i> <%= f.label :apertura, style: 'margin-bottom: 14px' %><br>
        <%= f.text_field :apertura, :class => 'datepicker form-control' %>

      </div>
      <div class="field">
        <i class="glyphicon glyphicon-calendar"></i> <%= f.label :cierre , style: 'margin-bottom: 14px'%><br>
        <%= f.text_field :cierre, :class => 'datepicker form-control' %>
      </div>
  </div>

  <div class="col-md-3">
    <div class="field">
      <i class="glyphicon glyphicon-usd"></i> <%= f.label :saldo_inicial_efectivo, style: 'margin-bottom: 14px' %><br>
      <%= f.text_field :saldo_inicial_efectivo, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0  %>
    </div>
    <div class="field">
      <i class="glyphicon glyphicon-usd"></i> <%= f.label :saldo_final_efectivo, style: 'margin-bottom: 14px' %><br>
      <%= f.text_field :saldo_final_efectivo, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0 %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="field">
      <i class="glyphicon glyphicon-usd"></i> <%= f.label :saldo_inicial_cheque, style: 'margin-bottom: 14px' %><br>
      <%= f.text_field :saldo_inicial_cheque, :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0  %>
    </div>
    <div class="field">
      <i class="glyphicon glyphicon-usd"></i> <%= f.label :saldo_final_cheque , style: 'margin-bottom: 14px'%><br>
      <%= f.text_field :saldo_final_cheque , :class => 'form-control', data: { role: 'money', a_sep: '.', a_dec: ',' }, value: 0  %>
    </div>
  </div>

</div>
 </br>
      <div class="actions">
        <% if controller.action_name == 'new' or controller.action_name == 'index' %>
          <%= f.submit "Agregar", :class => 'btn btn-primary'%>
        <% elsif controller.action_name == 'edit' %>
          <%= f.submit "Actualizar", :class => 'btn btn-primary'%>
        <% end %>
      </div>
  <% end %>
  </br>

<%= render 'cajas/modals/estado' %>
<%= render 'cajas/modals/persona' %>