<h1> Caja <button type="button" class="btn btn-info btn-outline btn-circle" id="btn1"><span class="glyphicon glyphicon-chevron-up" id="gbtn1"></span></button></h1>
<div id="form1">
  <%= render 'form' %>
</div>
<table id="table" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id estado</th>
      <th>Id persona</th>
      <th>Apertura</th>
      <th>Cierre</th>
      <th>Saldo inicial efectivo</th>
      <th>Saldo final efectivo</th>
      <th>Saldo inicial cheque</th>
      <th>Saldo final cheque</th>
      <th>Acciones</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @cajas.each do |caja| %>
      <tr>
        <td><%= caja.id_estado %></td>
        <td><%= caja.id_persona %></td>
        <td><%= caja.apertura %></td>
        <td><%= caja.cierre %></td>
        <td><%= caja.saldo_inicial_efectivo %></td>
        <td><%= caja.saldo_final_efectivo %></td>
        <td><%= caja.saldo_inicial_cheque %></td>
        <td><%= caja.saldo_final_cheque %></td>
        <td>
       <!--  <%= link_to caja , class: 'btn btn-info', title: 'View', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
            <span class="glyphicon glyphicon-search"></span>
            <% end %> -->
        
        <%= link_to edit_caja_path(caja), class: 'btn btn-warning', title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
        
        <%= link_to caja, method: :delete, data: { confirm: 'Va eliminarlo, esta seguro?' }, class: 'btn btn-danger', title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'right'  do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </td>  
      </tr>
    <% end %>
  </tbody>
</table>