<!DOCTYPE html>
<html>
<head>
  <title>Sistema</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body style="color: #FFFFFF; background-color: #2f4050;">

<div class="container">

  <div class="form-signin">
    <!-- <div class="well"> -->
      <h2 class="form-signin-heading">Iniciar Sesión</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.text_field :username, autofocus: true , class:"form-control", placeholder:"Nombre de usuario" %>
          <%= f.password_field :password, autocomplete: "off" , class:"form-control", placeholder:"Contraseña" %>
          <div><%= f.submit "Acceder", :class=>"btn btn-lg btn-primary btn-block" %></div>
        <% end %>
<!--       </div> -->
  </div>
</div>

</body>
</html>